// Import mixins
@import 'mixins';

// Generate text alignment classes with RTL support
@include responsive-text-align('text-left', left, right);
@include responsive-text-align('text-right', right, left);

[dir='rtl'] {
  [role='menu'] .flex {
    justify-content: flex-end;
  }

  .step .group {
    flex-direction: row-reverse;
  }
  .step .ai-message {
    flex-direction: row-reverse;
    text-align: left;
    .items-start {
      align-items: flex-end;
    }
  }
}

[role='menu'] .focus\:bg-accent.active {
  background-color: rgb(235 235 235) !important;
}

.dark{
  [role='menu'] .focus\:bg-accent.active {
    background-color: rgba(235, 235, 235, 0.305) !important;
  }
}